body{
    background-color: papayawhip;
    }
    
    #Name{
    
       color: blue;
     
     
    }
    
    #Email{
    
        color: blue;
       
    }
    
    #Menssage{
    
        color: blue;
       
    }
    